﻿@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">

    <div >
        <h1>Administración</h1>
        <p>Administra de forma sencilla el aplicativo, asi como configuras las herramientas que tenemos para ti.</p>        
    </div>     
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            Lista, asignación y configuración de Clientes de donde se registran los requerimientos.
        </p>
        <img src="~/img/clientes.png" height="200px" width="300px"/>
    </div>
    <div class="col-md-4">
        <h2>Areas</h2>
        <p>Lista, registro y configuración de Areas</p>
        <img src="~/img/areas.jpg" height="200px" width="300px" />
    </div>
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>Lista, registro y configuración de empleados</p>
        <img src="~/img/empelados.jpg" height="200px" width="300px" />
    </div>
</div>
<div style="height:20px"></div>

<div id="divEmpleados" style="visibility:hidden">

    
</div>



@section Scripts
{
@Scripts.Render("~/bundles/jquery"); 
<script type="text/javascript">
    function mostrarDiv()
    {
        $('#divEmpleados').show();
        var ele = document.getElementById('divEmpleados');
        ele.style.visibility = "visible";
    }
</script>    
}