﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestión de Requerimientos</h1>
    <p class="lead">Sistematización de la atención de requerimientos o incidencias encontradas en un aplicativo desarrollado</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista</h2>
        <p>
            Lista de los requerimientos registrados, permite opción de editar el requerimiento, agregar horas de trabajo, 
            ver detalle del requerimiento asi como el historial de empleados que registraron horas en ello, permite eliminar
            el requerimiento.
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("ListaRequerimientos")'">Ver&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuevo</h2>
        <p style="height:120px !important">Registro de nuevo requerimiento.</p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("NuevoRequerimiento")'">Ingresar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Indicadores</h2>
        <p style="height:120px !important">
            Indicadores permite ver el porcentaje de avance de requerimiento por estados, muestra todos los estados en los
            cuales esten los requerimientos.
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Indicadores")'">Ver &raquo;</a></p>
    </div>
</div>