﻿
@model IEnumerable<GestionTicket.Web.Areas.Administrativa.Models.EmpleadoListaViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellido Paterno
            </th>
            <th>
                Apellido Materno
            </th>
            <th>
                Fecha de Ingreso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicioLabores)
                </td>
                <td>
                    <div class="btn-group">
                        @*<button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=@Url.Action("Editar", "Clientes", new { id = item.EmpleadoId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                            </li>
                            <li>
                                <a href=@Url.Action("RenovarSuscripcion", "Clientes", new { area = "Administrativa", id = item.EmpleadoId })><i class="glyphicon glyphicon-pencil"></i>&nbsp;Suscribir</a>
                            </li>
                            <li>
                                <a href=@Url.Action("VerSuscripciones", "Clientes", new { area = "Administrativa", id = item.EmpleadoId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver suscripciones</a>
                            </li>

                        </ul>*@
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
