﻿@model GestionTicket.Web.Areas.Administrativa.Models.BuscaEmpleadoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Empleado</h2>

@using (Ajax.BeginForm("ListaEmpleado", "Empleados",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaEmpleadoContenedor"
    },
    new
    {
        id = "ListaEmpleadoEmpleados",
        @class = "form-horizontal"
    }
    ))
{
    <div class="form-group">
        <div class="form-group col-sm-4">
            <input type="text" placeholder="Buscar..."
                   name="Busqueda" class="form-control" />
        </div>
        <input type="submit" value="Buscar" class="btn btn-success" />
    </div>
}
<div class="form-group">
    <div id="ListaEmpleadoContenedor"></div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/unobtrusive");
}



