﻿@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">

    <div>
        <h1>Empleados</h1>
        <p> Ingresa, listar y mira el detalle de todos los empleados.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Nuevo Empleado</h2>
        <p>
            Ingresa nuevos empleados para poder ampliar el sistema.
        </p>
        @Html.ActionLink("Ingresar Nuevo Empleado", "Nuevo", "Empleado", new { area = "Administrativa" }, null)
    </div>
    <div class="col-md-4">
        <h2>Listar</h2>
        <p>Lista empleado y ver el detalle de los mismos</p>
        @Html.ActionLink("Ingresar Nuevo Empleado", "EmpleadoListar", "Empleado", new { area = "Administrativa" }, null)
    </div>
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>Lista, registro y configuración de empleados</p>
    </div>
</div>
<div style="height:20px"></div>

<div id="divEmpleados" style="visibility:hidden">


</div>



@section Scripts
{
    @Scripts.Render("~/bundles/jquery");

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnGetPersons').click(function () {
                $.getJSON("/Home/GetJsonData", null, function (data) {
                    var div = $('#divEmpleados');
                    div.html("<br/> " + "Persons received from server: " + "<br/>");
                    $.each(data, function (i, item) {
                        printPerson(div, item);
                    });
                });
            });
        });

        function printPerson(div, item) {
            div.append("<br/>" + "FName: " + item.FirstName + ", LName: " + item.LastName);
            $.each(item.Addresses, function (i, addr) {
                printAddress(div, addr);
            });
        }

        function printAddress(div, item) {
            div.append("<br/>" + "   " + "Line1: " + item.Line1);
        }
</script>
}