﻿
@model GestionTicket.Web.Areas.Administrativa.Models.AgregaHorasRequerimientoViewModel
@using (Ajax.BeginForm("AgregarHoras", "Requerimiento", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "AgregarHorasContainer"
}, new
{
    id = "AgregarHorasForm",
    @class = "form-horizontal",
    role = "form"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.RequerimientoId)
    @Html.HiddenFor(m=>m.EmpledoId)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                <h4 class="modal-title" id="officeFormLabel">Agregar Horas</h4>
                <h4 class="modal-title" id="officeFormLabel">Req: @Session["Titulo"].ToString()</h4>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.HorasIngresadas, new { @class = "col-lg-5 control-label" })
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.HorasIngresadas, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group" id="fechainicio">
                    @Html.LabelFor(m => m.FechaInicioReq, new { @class = "col-lg-5 control-label"})
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.FechaInicioReq, new { @class = "form-control datefield", type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Descripcion, new { @class = "col-lg-5 control-label" })
                    <div class="col-lg-7">
                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
}