﻿@model GestionTicket.Web.Areas.Administrativa.Models.RequerimientoDetalleViewModel


@using (Ajax.BeginForm("AgregarHorasRequerimiento", "Requerimiento", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "AgregarHorasRequerimientoContainer"
}, new
{
    id = "AgregarHorasRequerimientoForm",
    @class = "form-horizontal",
    role = "form"
}))
{
    <div class="form-horizontal">
        <h4>Agregar Horas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
        
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.RequeimientoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RequeimientoId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequeimientoId, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.EmpleadoId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.EmpleadoId,Model.Empleados, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.EmpleadoId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group" style=" display:none">
                @Html.LabelFor(model => model.EmpleadoId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.EmpleadoId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmpleadoId, "", new { @class = "text-danger" })
                </div>
            </div>
        }



        <div class="form-group">
            @Html.LabelFor(model => model.FechaTrabajada, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FechaTrabajada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaTrabajada, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HorasTrabajadas, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.HorasTrabajadas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HorasTrabajadas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
            </div>
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Agregar Horas" class="btn btn-default" />
            </div>
        </div>
        
    </div>
}
