﻿@model GestionTicket.Web.Areas.Administrativa.Models.EliminarRequerimientoViewModel
@using (Ajax.BeginForm("EliminarRequerimiento", "Requerimiento", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "EliminarRequerimientoContainer"
}, new
{
    id = "EliminarRequerimientoForm",
    @class = "form-horizontal",
    role = "form"
}))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div>
                    <p>Seguro que desea eliminar el requerimiento</p>
                </div>
                <div>
                    <p>@Convert.ToString(@Model.RequeimientoId).PadLeft(3, '0'): @Model.Descripcion </p>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" value="@Model.RequeimientoId" name="id"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Confirmar</button>
            </div>
            </div>
    </div>        
}
