﻿
@model IEnumerable<GestionTicket.Web.Areas.Administrativa.Models.RequerimientoListaViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Requerimiento
            </th>
            <th>
                Fecha de Entrega
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Fecha Cierre Real
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.NombreRequerimiento)*@
                    @Html.ActionLink(@Convert.ToString(item.RequerimientoId).PadLeft(3,'0')+" - "+item.NombreRequerimiento, "Editar", "Requerimiento", new { id = item.RequerimientoId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
                </td>
                <td>
                    @if(item.Estado=="Listo")
                    {
                        @Html.DisplayFor(modelItem => item.FechaCierreRequerimiento)
                    }          
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <div class="btn-group">
                        <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=@Url.Action("Editar", "Requerimiento", new { id = item.RequerimientoId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                            </li>
                            <li>
                                @Html.Raw(
                     @Ajax.ActionLink("[replacetext]", "EliminarRequerimiento", "Requerimiento", new { id = item.RequerimientoId, Descripcion=item.NombreRequerimiento, area = "Administrativa" },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "Get",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "EliminarRequerimientoModalFormContainer"
                                    }, new
                                    {
                                        // @class = "glyphicon glyphicon-calendar",
                                        data_toggle = "modal",
                                        data_target = "#EliminarRequerimientoModalFormContainer"
                                    }).ToHtmlString()
                                    .Replace("[replacetext]", "<i class=\"glyphicon glyphicon-calendar\"></i>&nbsp;Eliminar Requerimiento"))
                            </li>
                            <li>
                                <a href=@Url.Action("Detalle", "Requerimiento", new { id = item.RequerimientoId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver Detalle</a>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
