﻿
@model IEnumerable<GestionTicket.Web.Areas.Administrativa.Models.RequerimientoDetalleListarViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Empleado
            </th>
            <th>
                Fecha 
            </th>
            <th>
                Horas
            </th>
            <th>
                Descripción
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                      @Html.DisplayFor(modelItem => item.Empleado)                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasTrabajadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>   
        }    
    </tbody>    
</table>
<p><b>Horas Trabajadas hasta el momento : </b> @ViewBag.HorasTotales</p>
