﻿@model IEnumerable<GestionTicket.Web.Areas.Administrativa.Models.RequerimientoDetalleListarViewModel>

@using (Ajax.BeginForm("VerHistorico", "Requerimiento", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "VerHistoricoContainer"
}, new
{
    id = "VerHistoricoRequerimientoForm",
    @class = "form-horizontal",
    role = "form"
}))
{

    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Horas
            </th>
            <th>
                Empleado
            </th>
            <th>
                Detalle
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaTrabajada.Day)/@Html.DisplayFor(modelItem => item.FechaTrabajada.Month)/@Html.DisplayFor(modelItem => item.FechaTrabajada.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasTrabajadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>
}