﻿@model GestionTicket.Web.Areas.Administrativa.Models.RequerimientoEditarViewModel

@{
    ViewBag.Title = "Detalle";
}

<h3>Detalle Req @Convert.ToString(Model.RequerimientoId).PadLeft(3, '0'):  @Model.Resumen</h3><hr />
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProyectoId)
                </dt>
                
                <dd>
                    @Html.DisplayFor(model => model.ProyectoId)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Resumen)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Resumen)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cliente)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Empleado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Empleado)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Entorno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Entorno)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FechaDeEntrega)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaDeEntrega)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.FechaCierreRequerimiento)
                </dt>

                    @if (Model.Estado=="Listo")
                    {
                        <dd>
                            @Html.DisplayFor(model => model.FechaCierreRequerimiento)
                        </dd>
                    }
                    else
                    {
                        <dd>
                            ------------------------
                        </dd>
                    } 
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.HorasEstimadas)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HorasEstimadas)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Prioridad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prioridad)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>
        </div>
    </div>
</div>

@using (Ajax.BeginForm("VerHistoricoRequerimiento", "Requerimientos",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "VerHistoricoRequerimientoContenedor"
    },
    new
    {
        id = "VerHistoricoRequerimientos",
        @class = "form-horizontal"
    }
    ))
{
    <div class="form-group">
        <div class="form-group col-sm-4">
            <input type="hidden" name="id" value="@Model.RequerimientoId"/>
        </div>
        <input type="submit" value="Ver Historico de Cambios" class="btn btn-info" id="ButonListar" />
    </div>
}
<div class="form-group">
    <div id="VerHistoricoRequerimientoContenedor"></div>
</div>
<p>
    @Html.ActionLink("Regresar", "RequerimientoListar", "Requerimiento", new { area = ""})
</p>
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusive");
}
