﻿@model GestionTicket.Web.Areas.Administrativa.Models.RequerimientoEditarViewModel

@{
    ViewBag.Title = @Model.Resumen;
}

  @using (Ajax.BeginForm("AgregarHorasRequerimiento", "Requerimientos",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "AgregaHorasRequerimientoFormContainer"
    },
    new
    {
        id = "ListaRequerimientoRequerimientos",
        @class = "form-horizontal"
    }
    ))
  {
    <div class="form-group">
        <div class="form-group col-md-10">
            <h2 style="align-content:center">Req  @Convert.ToString(@Model.RequerimientoId).PadLeft(3,'0'):  @Model.Resumen</h2>
            @if (@Model.Estado == "Listo")
            {<div>
                <p style="color:red">
                    El requerimiento ya se encuentra cerrado
                </p>
            </div>
            }
            else
            {
                <input type="hidden" name="idRequerimiento" value="@Model.RequerimientoId" />
                <input type="submit" value="Agregar Horas" class="btn btn-info" id="ButonListar" />
            }
        </div>
        
    </div><hr />
  }      
<div class="row">
    <div class="col-md-6">@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.RequerimientoId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.RequerimientoId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequerimientoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProyectoId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ProyectoId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProyectoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Resumen, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Resumen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Resumen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div style="display:none">
                    @Html.EditorFor(model => model.ClienteId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-8">                    
                    @Html.EditorFor(model => model.Cliente, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmpleadoId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div style="display:none">
                    @Html.EditorFor(model => model.EmpleadoId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Empleado, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.EmpleadoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Entorno, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Entorno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Entorno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaDeEntrega, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FechaDeEntrega, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaDeEntrega, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HorasEstimadas, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.HorasEstimadas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HorasEstimadas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Estado,Model.Estados,  new { @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (@Model.Estado == "Listo")
                    {
                        <input type="submit" value="Guardar" disabled="disabled" class="btn btn-default" />
                        <a class="btn btn-default" onclick="location.href='@Url.Action("RequerimientoListar")'">&laquo;Regresar</a>
                    }
                    else
                    {
                        <input type="submit" value="Guardar" class="btn btn-default" />
                        <a class="btn btn-default" onclick="location.href='@Url.Action("RequerimientoListar")'">&laquo;Regresar</a>
                    }                 
                </div>
            </div>
        </div>
    }

    </div>
    <div class="col-md-6">
        <div id="AgregaHorasRequerimientoFormContainer"></div>
    </div>
       
    </div>
    
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusive");
}