﻿
@{
    ViewBag.Title = "Indicadores";
}
    <h2>Indicadores</h2><hr />
    <div>
        <div class="col-md-2">
            <div style="height:40px !important">
                <p><b>--Estado--</b></p>
            </div>
            @if (@ViewBag.Registrado>0)
            { 
                <div style="height:40px !important">
                    <p>Registrado</p>
                </div>
            }
            @if (@ViewBag.Desarrollo >0)
            { 
                <div style="height:40px !important">
                    <p>En Desarrollo</p>
                </div>
            }
            @if (@ViewBag.Revision>0)
            { 
                <div style="height:40px !important">
                    <p>En Revisión</p>
                </div>
            }
            @if (@ViewBag.Listo>0)
            { 
                <div style="height:40px !important">
                    <p>Listo</p>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div style="height:30px !important">
                <p></p>
            </div>
            @if (@ViewBag.Registrado>0)
            {
                <div class="progress" id="Registrado">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.PorcRegistrado">

                    </div>
                </div>
            }
            @if (@ViewBag.Desarrollo >0)
            {
                <div class="progress" id="Desarrollo">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.PorcDesarrollo" >

                    </div>
                </div>
            }
            @if (@ViewBag.Revision>0)
            {
                <div class="progress" id="Revision">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.PorcRevision">

                    </div>
                </div>
            }
            @if (@ViewBag.Listo>0)
            {
                <div class="progress" id="Listo">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.PorcListo">

                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div style="height:40px !important">
                <p><b>--Avance--</b></p>
            </div>
            @if (@ViewBag.Registrado>0)
            {
                <div style="height:40px !important">
                    <p>@ViewBag.Registrado ≈ @ViewBag.PorcRegistrado</p>
                </div>
            }
            @if (@ViewBag.Desarrollo >0)
            {
                <div style="height:40px !important">
                    <p>@ViewBag.Desarrollo ≈ @ViewBag.PorcDesarrollo</p>
                </div>
            }
            @if (@ViewBag.Revision>0)
            {
                <div style="height:40px !important">
                    <p>@ViewBag.Revision ≈ @ViewBag.PorcRevision</p>
                </div>
            }
            @if (@ViewBag.Listo>0)
            {
                <div style="height:40px !important">
                    <p>@ViewBag.Listo ≈ @ViewBag.PorcListo  </p>
                </div>
            }
        </div>
    </div>
<div>
     <p>Total de Requerimientos : <b>@ViewBag.TotalReque</b> </p>
</div>