﻿@model GestionTicket.Web.Areas.Administrativa.Models.BuscaRequerimientoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Requerimientos</h2>

@using (Ajax.BeginForm("ListaRequerimiento", "Requerimientos",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaRequerimientoContenedor"
    },
    new
    {
        id = "ListaRequerimientoRequerimientos",
        @class = "form-horizontal"
    }
    ))
{
    <div class="form-group">
        <div class="form-group col-sm-4">
            <input type="text" placeholder="Buscar..."
                   name="Busqueda" class="form-control" />
        </div>
        <input type="submit" value="Buscar" class="btn btn-success" id="ButonListar"/>
    </div>
}
<div class="form-group" >
    <div id="ListaRequerimientoContenedor"></div>
</div>
@*<div id="AgregaHorasModalFormContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkInFormLabel" aria-hidden="True"></div>*@
<div id="EliminarRequerimientoModalFormContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkInFormLabel" aria-hidden="True"></div>
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusive");
}



